@import "normalize";
@import "mixins";

* {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100%;
}

p {
  margin: 0;
}